body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f4f4f4;
  overflow-y: auto;
  background-attachment: fixed;
}
.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  /* adapted from csemzepp's pattern on UI verse */
  --s: 95px;
  --c1: #dadee1;
  --c2: #9f8de0;
  --c3: #9cacce;

  --_c: 75%, var(--c3) 52.72deg, #0000 0;
  --_g1: conic-gradient(from -116.36deg at 25% var(--_c));
  --_g2: conic-gradient(from 63.43deg at 75% var(--_c));
  background: var(--_g1), var(--_g1) calc(3 * var(--s)) calc(var(--s) / 2),
    var(--_g2), var(--_g2) calc(3 * var(--s)) calc(var(--s) / 2),
    conic-gradient(
      var(--c2) 63.43deg,
      var(--c1) 0 116.36deg,
      var(--c2) 0 180deg,
      var(--c1) 0 243.43deg,
      var(--c2) 0 296.15deg,
      var(--c1) 0
    );
  background-size: calc(2 * var(--s)) var(--s);
}

.app-container {
  width: 90%;
  max-width: 600px;
  margin: 30px;
}

.gradient-preview {
  height: 200px;
  border-radius: 15px;
  margin-bottom: 20px;
  background: linear-gradient(90deg, #ff0000, #0000ff);
}

.controls {
  gap: 20px;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  --color: #9cacce;
  background-color: rgba(0, 128, 0, 0.781);
  background-image: linear-gradient(
      0deg,
      transparent 24%,
      var(--color) 25%,
      var(--color) 26%,
      transparent 27%,
      transparent 74%,
      var(--color) 75%,
      var(--color) 76%,
      transparent 77%,
      transparent
    ),
    linear-gradient(
      90deg,
      transparent 24%,
      var(--color) 25%,
      var(--color) 26%,
      transparent 27%,
      transparent 74%,
      var(--color) 75%,
      var(--color) 76%,
      transparent 77%,
      transparent
    );
  background-size: 55px 55px;
}

.color-controls,
.type-control,
.options {
  margin-bottom: 15px;
}

label {
  font-size: 1.8rem;
  font-family: "jokerman";
  display: block;
  margin-bottom: 5px;
  margin-top: 8px;
  color: #b0c2e8;
  text-shadow: #4e576a 0.1rem 0.1rem;
}

#colorList {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.color-item {
  display: flex;
  align-items: center;
  gap: 5px;
}

.color-item input {
  width: 50px;
  height: 50px;
  border-radius: 5px;
}

input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100px;
}

button {
  padding: 8px 15px;
  border-radius: 5px;
  color: white;
  cursor: cell;
  margin-top: 5px;
  margin-bottom: 5px;
  transition: all 0.3s;
  background-color: #0077bf;
  border: none;
  width: auto;
  height: auto;
  border-radius: 1rem;
  box-shadow: -1px 2px #dfd9d9a0;
  cursor: cell;
}

button:active {
  scale: 0.9;
  cursor: wait;
}

button:active {
  color: white;
  box-shadow: 0 0.2rem #dfd9d9;
  transform: translateY(0.2rem);
}

button:hover:not(:disabled) {
  background: #005f8a;
  color: white;
  scale: 1.1;
}

.hidden {
  display: none;
}

select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100px;
}
