img {
  width: 200px;
  height: auto;
  border-radius: 20%;
  position: relative;
}

.image1:hover {
  animation: shakeVigorously 0.3s infinite;
}
@keyframes shakeVigorously {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(10deg);
  }
  20% {
    transform: rotate(-10deg);
  }
  30% {
    transform: rotate(10deg);
  }
  40% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(-10deg);
  }
  70% {
    transform: rotate(10deg);
  }
  80% {
    transform: rotate(-10deg);
  }
  90% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.image2 {
  opacity: 0;
  height: 200px;
  position: relative;
  display: block;
  object-fit: cover;
}
.image2:hover {
  opacity: 1;
}
body {
  background-color: #320606;
  font-family: Arial, sans-serif;
  color: #fff;
  align-content: center;
  text-align: center;
}

p:hover {
  animation: bloom 0.5s;
}
@keyframes bloom {
  0% {
    font-size: 1em;
  }
  50% {
    font-size: 1.1em;
  }
  100% {
    font-size: 1em;
  }
}
